Assets/ImportedAssets/StylizedFantasyEnemyNPCBundle/Meshes/SkeletonWarrior/SkeletonWarrior_FULL.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedFantasyEnemyNPCBundle/Meshes/SkeletonWarrior/SkeletonWarrior.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedFantasyEnemyNPCBundle/Textures/SkeletonWarrior/** filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedFantasyEnemyNPCBundle/Textures/SkeletonWizard/** filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedFantasyEnemyNPCBundle/Textures/Zombie/** filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedCharacter/Animations/Character/Human/Female/A_Hu_F_BasePack.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedCharacter/Animations/Character/Human/Male/A_Hu_M_BasePack.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedCharacter/Animations/Character/Orc/Male/A_Or_M_BasePack.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ImportedAssets/StylizedCharacter/Animations/Character/Orc/Female/A_Or_F_BasePack.fbx filter=lfs diff=lfs merge=lfs -text
