[submodule "Packages/ZergRush"]
	path = Packages/ZergRush
	url = https://github.com/CeleriedAway/ZergRush.git
[submodule "Assets/GameKit"]
	path = Assets/GameKit
	url = https://github.com/ArribleTeam/GameKit.git
